@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Josefin+Sans&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
}

.cursive {
    font-family: 'Birthstone', cursive;
    font-size: 2.5em;
}
